@{
    ViewData["Title"] = "Calendarro";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <div class="row">
        <div class="column" style="border-right: 5px solid dimgray">
            <div class="boards">
                <div class="sqr">
                    <div class="title">
                        TODO
                    </div>
                    <div class="dropdown" style="float: right;">
                        <button class="kanbandropbtn">...</button>
                        <div class="kanbandrop-content">
                            <a href="#">+</a>
                            <a href="#">-</a>
                        </div>
                    </div>
                    <div class="content"></div>
                </div>
                <div class="sqr">
                    <div class="title">
                        DONE
                    </div>
                    <div class="dropdown" style="float: right;">
                        <button class="kanbandropbtn">...</button>
                        <div class="kanbandrop-content">
                            <a href="#">+</a>
                            <a href="#">-</a>
                        </div>
                    </div>
                    <div class="content"></div>
                </div>
                <div class="sqr">
                    <div class="title">
                        NOTES
                    </div>
                    <div class="dropdown" style="float: right;">
                        <button class="kanbandropbtn">...</button>
                        <div class="kanbandrop-content">
                            <a href="#">+</a>
                            <a href="#">-</a>
                        </div>
                    </div>
                    <div class="content"></div>
                </div>
                <div class="sqr">
                    <div class="title">
                        IN PROGRESS
                    </div>
                    <div class="dropdown" style="float: right;">
                        <button class="kanbandropbtn">...</button>
                        <div class="kanbandrop-content">
                            <a href="#">+</a>
                            <a href="#">-</a>
                        </div>
                    </div>
                    <div class="content"></div>
                </div>
                <div class="sqr">
                    <div class="title">
                        IN PROGRESS
                    </div>
                    <div class="dropdown" style="float: right;">
                        <button class="kanbandropbtn">...</button>
                        <div class="kanbandrop-content">
                            <a href="#">+</a>
                            <a href="#">-</a>
                        </div>
                    </div>
                    <div class="content"></div>
                </div>
                <div class="sqr">
                    <div class="title">
                        IN PROGRESS
                    </div>
                    <div class="dropdown" style="float: right;">
                        <button class="kanbandropbtn">...</button>
                        <div class="kanbandrop-content">
                            <a href="#">+</a>
                            <a href="#">-</a>
                        </div>
                    </div>
                    <div class="content"></div>
                </div>
                <div class="sqr">
                    <div class="title">
                        IN PROGRESS
                    </div>
                    <div class="dropdown" style="float: right;">
                        <button class="kanbandropbtn">...</button>
                        <div class="kanbandrop-content">
                            <a href="#">+</a>
                            <a href="#">-</a>
                        </div>
                    </div>
                    <div class="content"></div>
                </div>
                <div class="sqr">
                    <div class="title">
                        IN PROGRESS
                    </div>
                    <div class="dropdown" style="float: right;">
                        <button class="kanbandropbtn">...</button>
                        <div class="kanbandrop-content">
                            <a href="#">+</a>
                            <a href="#">-</a>
                        </div>
                    </div>
                    <div class="content"></div>
                </div>
            </div>
        </div>
        <div class="column" style="border-left: 5px solid dimgray">
            <div class="calendar_buttons">
                <div id="button1"><a href="#" class="btns">1</a></div>
                <div id="button2"><a href="#" class="btns">3</a></div>
                <div id="button3"><a href="#" class="btns">6</a></div>
            </div>
            <div class="container">
                <div id="calendar"></div>
            </div>

        </div>
    </div>
</body>


@section Scripts{
    <link href="~/lib/fullcalendar/main.min.css" rel="stylesheet" />
    <script src="~/lib/fullcalendar/main.min.js"></script>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                timeZone: 'UTC',
                themeSystem: 'bootstrap',
                headerToolbar: {
                    left: '',
                    center: '',
                    right: ''
                },
                weekNumbers: false,
                firstDay: '1',
                fixedWeekCount: false,
                themeSystem: 'bootstrap',
                dayMaxEvents: false, // allow "more" link when too many events
                events: 'http://localhost:5000/calendar/getalltasks?project=1'
            });

            calendar.render();
        });
    </script>
}