<link rel="stylesheet" href="~/css/site.css" />

<div class="container calendarBox">
    <div class="row">
        <div id="calendar1"></div>
    </div>
    <div class="row">
        <div id="calendar2"></div>
    </div>
    <div class="row">
        <div id="calendar3"></div>
    </div>
</div>