<div class="card text-center pt-3 pb-3 mt-5 mr-2 mrl-2">
    <div class="card-body">
        <h2 class="card-title pb-1">Brak kanbanów</h2>
        <hr />
        <p class="card-text pt-1 ">
            Aktualnie nie masz żadnych kanbanów. Możesz dodać nowy kanban za pomocą przycisku na navbarze.
        </p>
    </div>
</div>