/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.window {
    background-color: dimgray;
    vertical-align: central;
    margin-top: 100px;
    margin-left: 380px;
    margin-right: 380px;
    padding-bottom: 60px;
    border-color: lightslategrey;
    border-style: solid;
    border-width: 5px;
}

.label {
    font-size: 30px;
    color: white;
    text-align: center;
    margin-top: 25px;
}

.form-control {
    width: 80%;
    margin-top: 30px;
    margin-left: 30px;
    height: 35px;
}

hr {
    border: none;
    height: 5px;
    background-color: lightslategrey;
    width: 95%;
    border-radius: 10px;
}

.register {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.forgotpw {
    font-size: 15px;
    text-align: center;
}

    .forgotpw a:link {
        color: white;
    }

a:link, a:hover {
    color: white;
    text-decoration: none;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.column {
    float: left;
    width: 50%;
    height: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.sqr {
    display: inline-block;
    position: relative;
    width: 48%;
    background-color: gray;
    border: 5px solid dimgray;
    border-radius: 10px;
    height: 300px;
    float: left;
    margin-bottom: 10px;
    margin-right: 5px;
}

/*.sqr:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }*/

.title {
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0px;
}

.calendar_buttons {
    margin-top: 40px;
}

#button1, #button2 {
    text-align: center;
    width: 50px;
    height: 40px;
    background-color: white;
}

#button1 {
    border-right: 5px solid dimgray;
    border-top: 5px solid dimgray;
}

#button2 {
    border-right: 5px solid dimgray;
    border-top: 5px solid dimgray;
}

#button3 {
    background-color: white;
    text-align: center;
    width: 50px;
    height: 45px;
    border-bottom: 5px solid dimgray;
    border-right: 5px solid dimgray;
    border-top: 5px solid dimgray;
}

a.btns {
    color: black;
    font-weight: bold;
}

/* Dropdown Button */
.dropbtn {
    background-color: gray;
    border: 5px solid dimgray;
    border-radius: 10px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    font-weight: bold;
    padding: 10px;
    min-width: 160px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 99;
    width: inherit;
    border-radius: 10px;
    border: 1px solid dimgray;
}

    /* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: grey;
        border-radius: 10px;
    }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: grey;
}

.button {
    position: relative;
    display: inline-block;
    background-color: gray;
    border: 5px solid dimgray;
    border-radius: 10px;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    font-weight: bold;
    margin-right: 10px;
    min-width: 160px;
}

.kanbandropbtn {
    background-color: gray;
    border: 5px solid dimgray;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    border: none;
    font-weight: bold;
    margin-right: 22px;
}

.kanbandrop-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 10px;
    box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.kanbandrop-content a {
    color: black;
    padding: 5px 7px;
    text-decoration: none;
    display: block;
}

.kanbandrop-content a:hover {
    background-color: grey;
}

.dropdown:hover .kanbandrop-content {
    display: block;
}

.boards {
    height: 100%;
    overflow-y: scroll;
}

#bck {
    padding: 10px;
}

.content {
    overflow: auto;
    overflow-x: hidden;
}

#deleteTask {
    text-align: right;
    padding: 1px;
    position: center;
    font-size: 1.2rem;
    color: red;
}
