
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="container">
    <div id="calendar"></div>
</div>

@section Scripts{
    <link href="~/lib/fullcalendar/main.min.css" rel="stylesheet" />
    <script src="~/lib/fullcalendar/main.min.js"></script>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth'
            });
            calendar.render();
        });
    </script>

}